<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../CSS/style.css">
        <title>Login</title>
    </head>

    <body>

        <div id="sign">
            <button id="button_sign">Sign up</button>
        </div>
        <div class="container">

            <div class="logo">
                <img src="../images/logo.svg">
            </div>
            <div class="login-container">
                <form class="login">
                    <input name="email" type="text" placeholder="email@email.com">
                    <input name="password" type="password" placeholder="password">
                    <button id="button_login">Login</button>
                </form>
            </div>
            <div>

            </div>

        </div>

    </body>

</html>
