<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../CSS/style_pacjent_1.css">
    <script src="https://kit.fontawesome.com/f39f9c152c.js" crossorigin="anonymous"></script>
    <title>MEDOSE</title>
</head>
    <body>
        <div class="base_container">
            <header>
                <div class="option">
                    MY FEEDBACKS
                </div>
                <div class="option">
                    EXPLORE
                </div>
                <div class="option">
                    HISTORY OF VISITS
                </div>
                <div class="option">
                    MY VISITS
                </div>
                <div id="search">
                    <form id="search_form">
                        <input id="search_specialist" placeholder="Search for a specialist">
                    </form>
                </div>
                <div class="option">
                    <i class="fas fa-search"></i>
                </div>
                <div class="option">
                    <i class="far fa-bell"></i>
                </div>
                <div class="option">
                    <i class="far fa-user"></i>
                </div>
            </header>

            <section class="specialist">
                <div id="first">
                    <div id="photo1"></div>
                    <div class="informations">
                        <p class="name">Name Surname</p>
                        <p class="specialisation">Cardiologist</p>
                        <p class="phone">T:    +1 456 789 123</p>
                        <p class="email">E:  name.surname@gmail.com</p>
                    </div>
                </div>
                <div id="second">
                    <div id="photo2"></div>
                    <div class="informations">
                        <p class="name">Name Surname</p>
                        <p class="specialisation">Cardiologist</p>
                        <p class="phone">T:    +1 456 789 123</p>
                        <p class="email">E:  name.surname@gmail.com</p>
                    </div>
                </div>
                <div id="third">
                    <div id="photo3"></div>
                    <div class="informations">
                        <p class="name">Name Surname</p>
                        <p class="specialisation">Cardiologist</p>
                        <p class="phone">T:    +1 456 789 123</p>
                        <p class="email">E:  name.surname@gmail.com</p>
                    </div>
                </div>

            </section>

            <footer id="footer_list">
                <div id="logo">
                    <img id="logo_footer" src="../images/logo.svg">
                </div>

                <div class="specialist_footer">
                    <p>Ortophaedist</p>
                    <p>Cardiologist</p>
                    <p>Oncologist</p>
                    <p>Dentist</p>
                </div>
                <div class="specialist_footer">
                    <p>Neurologist</p>
                    <p>Urologist</p>
                    <p>Plastic surgeon</p>
                    <p>Psychiatrist</p>
                </div>
                <div class="specialist_footer">
                    <p>Ophtalmologist</p>
                    <p>Pulmonologist</p>
                    <p>Gynecologist</p>
                    <p>Rheumatologist</p>
                </div>
                <div class="specialist_footer">
                    <p>Sexologist</p>
                    <p>Endocrinologist</p>
                    <p>Dermatologist</p>
                    <p>Radiologist</p>
                </div>
            </footer>
        </div>
    </body>

</html>