<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../CSS/style.css">
        <title>Sign up</title>
    </head>
    <body>
        <div id="sign">
            <button id="button_sign">Sign in</button>
        </div>
        <div class="container">
            <div class="logo">
                <img src="../images/logo.svg">
            </div>
            <div class="signup-container">
                <form class="signup">
                    <p class="account">Create an Account</p>
                    <input name="name" type="text" placeholder="Full Name">
                    <input name="email" type="text" placeholder="email@email.com">
                    <input name="birthday" type="text" placeholder="Birthday">
                    <input name="ident" type="number" placeholder="ID">
                    <input name="password" type="password" placeholder="Password">
                    <p class="account">Click if you are a doctor <img id="button_switch" src="../images/button.svg"></p>
                    <button id="button_create"><img id="arrow" src="../images/arrow.svg"></button>
                </form>
            </div>
            <div>
            </div>
        </div>
    </body>
</html>