<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../CSS/style_spec_info.css">
    <script src="https://kit.fontawesome.com/f39f9c152c.js" crossorigin="anonymous"></script>
    <title>MEDOSE</title>
</head>
<body>
    <div class="base_container">
        <header>
            <div id="menu_bar">
                <i class="fas fa-bars"></i>
            </div>
            <div class="option">
                MY FEEDBACKS
            </div>
            <div class="option">
                EXPLORE
            </div>
            <div class="option">
                HISTORY OF VISITS
            </div>
            <div class="option">
                MY VISITS
            </div>
            <div id="search">
                <form id="search_form">
                    <input id="search_specialist" placeholder="Search for a specialist">
                </form>
            </div>
            <div class="option" id="search_icon">
                <i class="fas fa-search"></i>
            </div>
            <div class="option" id="bell_icon">
                <i class="far fa-bell"></i>
            </div>
            <div class="option" id="use_icon">
                <i class="far fa-user"></i>
            </div>
        </header>

        <section>


        </section>

        <footer id="footer_list">
            <div id="logo">
                <img id="logo_footer" src="../images/logo.svg">
            </div>

            <div class="specialist_footer">
                <p>Ortophaedist</p>
                <p>Cardiologist</p>
                <p>Oncologist</p>
                <p>Dentist</p>
            </div>
            <div class="specialist_footer">
                <p>Neurologist</p>
                <p>Urologist</p>
                <p>Plastic surgeon</p>
                <p>Psychiatrist</p>
            </div>
            <div class="specialist_footer">
                <p>Ophtalmologist</p>
                <p>Pulmonologist</p>
                <p>Gynecologist</p>
                <p>Rheumatologist</p>
            </div>
            <div class="specialist_footer">
                <p>Sexologist</p>
                <p>Endocrinologist</p>
                <p>Dermatologist</p>
                <p>Radiologist</p>
            </div>
        </footer>

    </div>
</body>
</html>