body{
    margin: 0;
    background-attachment: fixed;
}

.base_container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
header{
    height: 8vh;
    width: 85%;
    margin-top: 1.5em;
    background: transparent linear-gradient(180deg, #2FA163 0%, #36BAB6 100%) 0% 0% no-repeat padding-box;
    border-radius: 46px;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    border-bottom: 1px solid grey;
    color: white;
}
.option{
    height: 40%;
    display: flex;
    align-items: center;
}

#search{
    width: 30%;
    height: 50%;
}

#search_specialist{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 55px;
    opacity: 1;
    text-align: center;
    width: 100%;
    height: 100%;
}
/*#search_form{
    height: 100%;
}
*/
#logout{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}

section{
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    margin: 3em 2em;
}

section>div{
    background: transparent linear-gradient(180deg, #2FA163 0%, #36BAB6 100%) 0% 0% no-repeat padding-box;
    border-radius: 52px;
    opacity: 1;
    width: 30vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#footer_list{
    width: 100vw;
    height: 20vh;
    background: transparent linear-gradient(180deg, #35A5A2 0%, #36BAB6 0%, #30A46E 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    font-size: 1.25em;
}

.specialist_footer{
    display: block;
}

#logo_footer{
    width: 100%;
    height: 100%;
}

#logo{
    width: 40%;
}

#photo1{
    width: 25%;
    height: 25%;
    margin-bottom: 1em;
}

img{
    height: 100%;
    border-radius: 100%;
    width: 100%;
}

#photo2{
    width: 25%;
    height: 25%;
    margin-bottom: 1em;
}

#photo3{

    width: 25%;
    height: 25%;
    margin-bottom: 1em;
}

.informations{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.specialisation{
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.phone{
    color: white;
    font-size: 1em;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email{
    color: white;
    font-size: 1em;
    border-bottom: 1px solid grey;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu_bar{
    display: none;
}

.read_more{
    color: white;
    font-size: 1em;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}



@media only screen and (max-device-width: 420px) {
    .specialist{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .fa-chevron-left{
        font-size: 3em;
    }
    .fa-chevron-right{
        font-size: 3em;
    }

    #second{
        display: none;
    }
    #third{
        display: none;
    }
    #first{
        width: 90%;
    }
    #photo1{
        width: 35%;
        height: 30%;
    }
    .name{
        font-size: 5em;
    }
    .specialisation{
        font-size: 3.5em;
        border-bottom: 3px solid grey;
    }
    .phone{
        font-size: 2em;
    }
    .email{
        font-size: 2em;
        border-bottom: 3px solid grey;
    }

    .option{
        display: none;
    }
    #search{
        display: none;
    }
    #search_form{
        display: none;
    }

    #menu_bar{
        display: flex;
        font-size: 4em;
    }
    #search_icon{
        display: flex;
        font-size: 2em;
    }
    #bell_icon{
        display: flex;
        font-size: 2em;
    }
    #use_icon{
        display: flex;
        font-size: 2em;
    }
    #logout{
        color: white;
        text-decoration: none;
        font-size: 1.25em;
    }

    .specialist_footer{
        display: none;
    }
    .specialist_footer > p{
        display: none;
    }
    #footer_list{
        background: white;
    }
    #logo{
        width: 100%;
        height: 100%;
    }

    .specialist > div{
        overflow: scroll;
        width: 80%;
    }
}