body{
    margin: 0;
    background: transparent linear-gradient(180deg, #5438C0 0%, #2E9A4B 0%, #36BAB6 100%, #48A44E 100%) 0% 0% no-repeat padding-box;
    background-attachment: fixed;
}
#sign{
    width: 100vw;
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);

}

#button_sign{
    background: transparent linear-gradient(180deg, #BDBD13 0%, #5A5A12 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 53px;
    color: white;
    height: 80%;
    border: none;
    margin: 1em 0 1em 1em;
    grid-column-start: 9;
    align-items: center;
}

.container{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    text-align: center;
}

.login-container{
    width: 50%;
}

#button_switch{
    height: 60%;
    margin: auto;
}

.signup-container{
    width: 50%;
}
form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFB3 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000033;
    border: 1px solid #707070;
    border-radius: 92px;
}

form.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}

form.signup>input{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 43px;
    margin: 1em 1em 1em 0;
    padding: 1.5em;
}

.account{
    text-align: left;
    font: normal normal normal 50px/45px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 6px 6px #00000029;
}
#button_create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow{
    margin: auto;
    height: 80%;
}



input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    margin: 1em;
    padding: 1em;
}

#button_login{
    background: transparent linear-gradient(180deg, #BDBD13 0%, #5A5A12 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 53px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    padding: 1em;
    line-height: 2.5em;
}

#button_create{
    background: transparent linear-gradient(180deg, #BDBD13 0%, #5A5A12 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 53px;
    width: 51%;
    border: none;
    color: white;
    margin: 1em;
    padding: 1em;
    line-height: 2.5em;
}

@media only screen and (max-device-width: 420px) {
    .container{
        flex-direction: column;
    }
    *{
        font-size: 36px;
    }
    .login-container, .logo{
        width: 100%;
    }
    form{
        margin: auto;
    }

    #button_sign{
        grid-column-start: 4;
        grid-column-end: 8;
    }

    #button_create{
        width: 100%;
        margin-left: 1.75em;
        padding: 0.5em;
    }
    form.signup{
        height: 65vh;
        width: 100%;
    }

    form.signup>input{
        margin: 1em 1em 1em 1.5em;
        padding: 1em;
        width: 100%;
    }

    .account{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #button_switch{
        margin-top: 1em;
    }
}

.toggle {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 1em;
    cursor: pointer;
}

.toggle_checkbox {
    position: absolute;
    /*
        umieszczamy nasz checkbox poza zasiegiem kursora,
        tj. pod tekstem i tłem suwaka. Dzięki temu użytkownik
        nie będzie go widział, ale dalej będzie w stanie go kliknąć.
     */
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.toggle_body {
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid #dadde1;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 50px;
}

.toggle_switch {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    color: #fff;
    background: transparent linear-gradient(180deg, #BDBD13 0%, #5A5A12 100%) 0% 0% no-repeat padding-box;
    transition:
            transform cubic-bezier(0.34, 1.61, 0.7, 1) .25s,
            background cubic-bezier(0.34, 1.61, 0.7, 1) .25s;
    transform: translate3d(-1px, -50%, 0);
}

.toggle_switch:before {
    content: '«';
    display: block;
    line-height: 30px;
    font-size: 10px;
    text-align: center;
}

.toggle_track {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 50px;
    background-color: antiquewhite;
}


.toggle:hover .toggle_switch {
    border-color: #b5bbc3;
    transform: scale(1.06) translate3d(-1px, -47%, 0);
}

.toggle:active .toggle_switch {
    transform: scale(0.94) translate3d(-1px, -53%, 0);
}

/*
  gdy checkbox nie jest zaznaczony, ustawiamy mu style które pokażą informację o tym,
  że zmiana stanu przycisku zaznaczy checkbox
*/
.toggle_checkbox:not(:checked) ~ .toggle_body > .toggle_switch {
    transform: translate3d(70px, -50%, 0);
    background: #fff;
    background: transparent linear-gradient(180deg, #BDBD13 0%, #5A5A12 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #ccd0d6;
}

.toggle_checkbox:not(:checked) ~ .toggle_body > .toggle_switch:before {
    content: '»';
}

.toggle:hover .toggle_checkbox:not(:checked) ~ .toggle_body > .toggle_switch {
    transform: scale(1.06) translate3d(66px, -47%, 0);
}

.toggle:active .toggle_checkbox:not(:checked) ~ .toggle_body > .toggle_switch {
    transform: scale(0.94) translate3d(74px, -53%, 0);
}

